{
  "extends": "standard",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "plugins": ["compat"],
  "settings": {
    "targets": [
        "last 3 Chrome versions", "last 3 Firefox versions", "last 3 Edge versions", "last 3 Safari versions", "last 3 ios_saf versions", "last 3 Android versions",
        "last 3 Opera versions", "last 3 IE versions", "last 3 op_mini versions", "last 3 bb versions", "last 3 op_mob versions", "last 3 and_chr versions",
        "last 3 and_ff versions", "last 3 ie_mob versions", "last 3 and_uc versions", "last 3 Samsung versions"
    ],
    "polyfills": [],
    "coverage": true,
    "compiler": "babel"
  },
  "rules": {
    "compat/compat": 2,
    "no-multi-spaces": 0,
    "semi": [2, "always"],
    "indent": ["error", 4],
    "one-var": 0,
    "no-var": 2,
    "prefer-const": 2,
    "object-curly-spacing": ["error", "never"]
  }
}
