{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "globals": {
    "ActiveXObject": false,
    "Uint8Array": false,
    "cleanInterface": false,
    "DEBUG": false,
    "File": false,
    "console": false,
    "indexedDB": false,
    "shimIndexedDB": false,
    "IDBFactory": false,
    "IDBDatabase": false,
    "IDBObjectStore": false,
    "IDBIndex": false,
    "IDBTransaction": false,
    "IDBCursor": false,
    "IDBCursorWithValue": false,
    "IDBKeyRange": false,
    "IDBRequest": false,
    "IDBOpenDBRequest": false,
    "IDBVersionChangeEvent": false,
    "DOMException": false,
    "DOMError": false,
    "idbModules": false,
    "logger": false,
    "require": false,

    "_": false,
    "asyncTest": false,
    "DB": false,
    "dbVersion": false,
    "deepEqual": false,
    "equal": false,
    "expect": false,
    "fail": false,
    "module": false,
    "nextTest": false,
    "notEqual": false,
    "ok": false,
    "sample": false,
    "start": false,
    "stop": false,
    "queuedAsyncTest": false,
    "queuedModule": false,
    "unescape": false,
    "process": false,

    "util": false,
    "env": false,
    "mocha": false,
    "beforeEach": false,
    "afterEach": false,
    "describe": false,
    "it": false,
    "chai": false,
    "sinon": false
  },
  "rules": {
    "semi": 2,
    "camelcase": 2,
    "no-new": 2,
    "curly": 2,
    "eqeqeq": 2,
    "wrap-iife": [2, "any"],
    "no-use-before-define": [2, {"functions": false}],
    "new-cap": 2,
    "no-undef": 2,
    "no-eval": 2,
    "no-unused-expressions": [2, {allowShortCircuit: true}]
  }
}
