.project
.settings
.idea
.tmp_*
.DS_Store
sauce_connect.log
sc_*
npm-debug.log
src/indexeddbshim*
test-support/latest-erring-bundled.js

test-support/js
test-support/json-output*
ignore
node_modules

# Should be deleted by Grunt
dbName*
__sysdb__*
D_^D^B2*
D_x
D_x.sqlite
D_y
D_y.sqlite
D_webworker*
D_dbName*
D_about*
D_^I*
D_TestDatabase*
D_blank*
D_database_name*
D_idbtransaction*
D_indexeddbshim_test_database*
D_db.sqlite*
D_test*
D_db*
D_http*
