/src
/tests-mocha
/tests-polyfill
/tests-qunit
/examples
/.*
/bower.json
/index.html
/Gruntfile.js
/travis.sh

/sauce_connect.log
/npm-debug.log

# Should be deleted by Grunt
/__sysdb__*
/D_dbName*
/D_IndexedDBShim_Test_Database_*
/D_test.sqlite
/D_TestDatabase*
/D_testdb-*
/D_database_name*
/D_idbtransaction*
/D_db.sqlite*
/D_test*
/D_db*
/D_test-db*
