.runOption, .browser {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    padding: 10px;
    float: left;
}

.runOption {
    display: none;
    float: right;
}

.runOption ul {
    display: inline;
    list-style: none;
}

.runOption ul li {
    list-style: none;
    float: left;
    margin: 0 10px;
}
